body {
  font-family: arial, sans-serif;
  height: 100%;
  width: 100%;
}

/* Navigation */
.navbar {
  align-items: center;
}

.navbar-nav li {
  padding-right: 20px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}


/* Footer */
footer {
  padding-top: 1rem;
  background-color: black;
  color: white;
}

hr.light {
  border-top: 1px solid #fff;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

hr.light-100 {
  border-top: 1px solid #fff;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

.footerlist a {
  text-decoration: none;
  color: white;
}

.footerlist a:hover {
  text-decoration: none;
  color: grey;
}

/* Banner */
.bannerimg {
  width: 100%;
  height: 100%;
}

/* ----------------------HOME SECTION--------------- */
/* Three column section */
#threecolumn {
  margin-top: 30px;
}

.fa-school {
  color:#E6B8E7;
  font-size: 4rem;
  margin: 1rm;
}

.fa-award {
  color: #8CA9EF;
  font-size: 4rem;
  margin: 1rm;
}

.fa-graduation-cap {
  color: #37ECFC;
  font-size: 4rem;
  margin: 1rm;
}

/* --------------------------------ABOUT SECTION------------------------------- */
.aboutheader {
  margin-top: 30px;
}

.aboutimage {
  max-height: 400px;
}

#nerighbourhoodnerd {
  background: url('../img/watercolor.png')  no-repeat;
  background-size: 50%;
  margin-right: 0px;
  margin-top: 30px;
}

#nerighbourhoodnerd h1 {
  text-align: right;
  font-size: 80px;
}

#nerighbourhoodnerd h3 {
  text-align: right;
  font-size: 20px;
}


#myhobbies ul li {
  list-style: none;
}

#funfacts ul li {
  list-style: none;
}

@media (min-width: 768px) {
.carousel-multi-item-2 .col-md-3 {
float: left;
width: 25%;
max-width: 100%; } }

.carousel-multi-item-2 .card img {
border-radius: 2px; }

/* --------------Code part----------------------------- */
.center-pills {
    display: flex;
    justify-content: center;
    margin: 30px;
}

#pillbuttons li {
  margin: 10px;
}


/* ----------------------------------Creative Part---------------------------------- */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}



/* --------------------------------Media Queries------------------------------ */
@media (max-width: 992px) {

}
@media (max-width: 768px) {
  .nav-flex-icons {
    display: none;
  }

}
@media (max-width: 576px) {

}
