body {
  font-family: arial, sans-serif;
  height: 100%;
  width: 100%;
}

/* Navigation */
.navbar {
  align-items: center;
}

.navbar-nav li {
  padding-right: 20px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.contactmebuttons i {
  font-size: 25px;
}


/* Footer */
footer {
  padding-top: 1rem;
  background-color: black;
  color: white;
}

hr.light {
  border-top: 1px solid #fff;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

hr.light-100 {
  border-top: 1px solid #fff;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

.footerlist a {
  text-decoration: none;
  color: white;
}

.footerlist a:hover {
  text-decoration: none;
  color: grey;
}

/* ----------------------HOME SECTION--------------- */

/* Banner */
.bannerimg {
  width: 100%;
  height: 100%;
}

.bannerimgsmall {
  display: none;
}

/* Three column section */
#threecolumn {
  margin-top: 30px;
}

#threecolumn div div div h3 {
  margin-top: 10px;
}

.fa-school {
  color:#E6B8E7;
  font-size: 4rem;
  margin: 1rm;
}

.fa-award {
  color: #8CA9EF;
  font-size: 4rem;
  margin: 1rm;
}

.fa-graduation-cap {
  color: #37ECFC;
  font-size: 4rem;
  margin: 1rm;
}

@media (max-width: 576px) {
  .bannerimg {
    display: none;
  }
  .bannerimgsmall {
    display:block;
    width: 100%;
    height: 100%;
  }

  .fa-school {
    color:#E6B8E7;
    font-size: 2rem;
    margin: 1rm;
  }

  .fa-award {
    color: #8CA9EF;
    font-size: 2rem;
    margin: 1rm;
  }

  .fa-graduation-cap {
    color: #37ECFC;
    font-size: 2rem;
    margin: 1rm;
  }

  #threecolumnheader {
    font-size: 90%;
  }


}


/* --------------------------------ABOUT SECTION------------------------------- */
.aboutheader {
  margin-top: 30px;
}

.aboutimage {
  max-height: 400px;
}

#nerighbourhoodnerd {
  height: 400px;
  width: 400px;
}

.contents {
  margin-top: 15%;
  background: url('../img/watercolor.png')  no-repeat;
  background-size: 50%;
  background-position: top left;
}

#nerighbourhoodnerd h1 {
  text-align: right;
  font-size: 50px;
}

#nerighbourhoodnerd h3 {
  text-align: right;
  font-size: 20px;
}


#myhobbies ul li {
  list-style: none;
}

#funfacts ul li {
  list-style: none;
}

@media (min-width: 768px) {
.carousel-multi-item-2 .col-md-3 {
float: left;
width: 25%;
max-width: 100%; } }

.carousel-multi-item-2 .card img {
border-radius: 2px; }

/* --------------Code part----------------------------- */
.center-pills {
    display: flex;
    justify-content: center;
    margin: 30px;
}

#pillbuttons li {
  margin: 10px;
}

#codeheader div {
  margin-top: 30px;
}

.rainbowline {
  background: linear-gradient(to right, rgb(55,236,252), rgb(140,169,239), rgb(230,184,231));
  height: 3px;
  width: 50%;
}

/* ----------------------------------Creative Part---------------------------------- */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}


/* -----------------------------------Resume------------------------------------------------------ */

.rainbowlong {
  background: linear-gradient(to right, rgb(55,236,252), rgb(140,169,239), rgb(230,184,231));
  height: .5px;
  margin-top: 20x;
}

.custombullet{
   list-style: none;
}

.graph-cont{
  width: calc(100% - 40px);
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.bar{
  height: 30px;
  max-width: 800px;
  margin: 0 auto 10px auto;
  line-height: 30px;
  font-size: 16px;
  color: white;
  padding: 0 0 0 10px;
  position: relative;
}
.bar::before{
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  height: 30px;
  top: 0;
  z-index: -2;
  background: #ecf0f1;
}
.bar::after{
  content: '';
  background: linear-gradient(to right, rgb(55,236,252), rgb(140,169,239), rgb(230,184,231));
  height: 30px;
  transition: 0.7s;
  display: block;
  width: 100%;
  -webkit-animation: bar-before 1 1.8s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.bar1::after{
  max-width: 90%;
}
.bar2::after{
  max-width: 90%;
}
.bar3::after{
  max-width: 100%;
}
.bar4::after{
  max-width: 100%;
}

.bar5::after{
  max-width: 60%;
}

.bar6::after{
  max-width: 40%;
}

.bar7::after{
  max-width: 30%;
}


@-webkit-keyframes bar-before{
  0%{
    width: 0px;
  }
  100%{
    width: 100%;
  }
}

/* --------------------------------Media Queries------------------------------ */
@media (max-width: 992px) {

}
@media (max-width: 768px) {
  .nav-flex-icons {
    display: none;
  }

}
@media (max-width: 576px) {

}
